/* default styles */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@460&display=swap");

body {
    font-family: "Montserrat", sans-serif;
}
.main-container {
    background-color: #54bab9;
    height: 100vh;
    padding: 1rem;
}
.nav-header{
    height: 4rem;
    align-items: center;
}
.nav-header h2{
    color: white;
}
@media only screen and (max-width: 375px){
    .nav-header h2{
        font-size: 6vw;
    }
    .main-container{
        height: 110vh;
    }
}

/* table style */
/* List Container style */
.list-container{
    padding: 0;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    height: 75vh;
    border-radius: 15px;
    border: none;
    box-shadow: 0 .5rem .5rem #659b9b;
    overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.list-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.list-container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.table-header{
    height: 3rem;
    position: sticky;
    top: 0;
    font-size: large;
    color:white;
    background-color: #0e8388;
}
.header{
    position: sticky;
    top: 0;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #dafcfc49;
}
.table-row:hover{
    background-color: #d6efef;
    cursor: pointer;

}
.table-row:active{
    cursor:grabbing;
}
@media only screen and (max-width: 375px){
    .table-container{
        font-size: small;
    }
    .table-header{
        font-size: small;
    }
    .subject-code-heading{
        font-size: medium;
    }
    .course-heading{
        font-size: large;
    }
}
/* Table Style */

/* Update cancle btn */
.add-cancel-btn{
    text-decoration: none;
    float: left;
    border-radius: 2rem;
    background-color: #eba184;
    color: black;
    border: none;
    margin-top: .3rem;
    padding: 0.5rem 2rem;
    box-shadow: 0 .2rem .2rem #60696a;
}
.add-cancel-btn:active{
    box-shadow: none;
    color: white;
    transform: translateY(1px);
}
.add-cancel-btn:hover{
    background-color: #eb7343;
    color: white;
}

.add-confirm-btn{
    text-decoration: none;
    float: left;
    border-radius: 2rem;
    background-color: white;
    color: black;
    border: none;
    padding: 0.5rem 2rem;
    margin-left: 1rem;
    margin-top: .3rem;
    box-shadow: 0 .2rem .2rem #60696a;
}
.add-confirm-btn:active{
    box-shadow: none;
    transform: translateY(1px);
}
.add-confirm-btn:hover{
    background-color: #0e8388;
    color: white;
}
@media only screen and (max-width: 576px) {
    .add-confirm-btn{
        font-size: medium;
        padding: 0.5rem 1rem;
    }
    .add-cancel-btn{
        font-size: medium;
        padding: 0.5rem 1rem;
    }
}
@media only screen and (max-width: 375px){
    .add-confirm-btn{
        font-size: 4.4vw;
    }
    .add-cancel-btn{
        font-size: 4.4vw;
    }
}

/* Date from */
.date-input{
    text-decoration: none;
    font-size: large;
    float: right;
    border-radius: 2rem;
    color: black;
    border: none;
    padding: 0.5rem 2rem;
}
@media only screen and (max-width: 576px) {
    .date-input{
        font-size: small;
        padding: 0.5rem 1rem;
    }
}
@media only screen and (max-width: 440px){
    .date-input{
        font-size: smaller;
        padding: 0.5rem .5rem;
    }
}
@media only screen and (max-width: 375px){
    .date-input{
        font-size:x-small;
    }
}